.home {
  &__design {
    transition: opacity 220ms @easeOutQuad;
  }
  &__hero {
    height: 51.2rem;
    background-repeat: no-repeat;
    background-image: url('../../img/hero.jpg');
    position: relative;
    z-index: 2;
    border-bottom: solid 0.9rem @white;
    background-size: auto 27rem;
    height: 22rem;
    background-position: 73% 100%;
    @media @tablet {
    height: 51.2rem;
    background-size: cover;
    background-position: 50% 75%;

    }
    &:after {
      content: '';
      position: absolute;
      background-color: @main;
      position: absolute;
      bottom: -0.9rem;
      left: 0;
      right: 0;
      height: 0.8rem;
    }
  }
  &__story {
    position: relative;
    z-index: 1;
    background-repeat: repeat;
    background-size: 31.2rem auto;
    top: -10rem;
    // top: -16rem;
    @media @tablet {
    top: -10rem;

    }
  }
}