.simple {
  &__header {
    text-align: center;
    height: 24rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-self: center;
    position: relative;
  }
  &__container {
    max-width: 96rem;
  }
}