.boat {
  position: absolute;
  z-index: 3;
  right: 0;
  left: 0;
  top: 13rem;
  text-align: center;
  transition: opacity 220ms @easeOutQuad;
  @media @tablet {
    top: 41.6rem;
  }
  &__object {
    top: 0;
    width: 6.4rem;
    height: 3.6rem;
    position: relative;
    left: -18.6rem;
    @media @tablet {
      left: -3.6rem;
    }
    .jaggy & {
      transition: transform 450ms @easeOutQuad;
    }
  }
  &__svg {
    transform: rotate(-90deg);
    transform-origin: 0% 50%;
    height: 6.4rem;
    width: 3.6rem;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    transition: transform 1000ms @easeOutQuad;
    &.is-up {
      transform: rotate(-270deg) translate3d(-3.6rem, 0, 0);
    }
  }
  &__text {
    .font-sec;
    font-weight: 700;
    display: inline-block;
    padding: 1.4rem;
    cursor: pointer;
    color: @white;
    text-transform: uppercase;
  }
  &__base {
    fill: rgba(255, 255, 255, 0.2);
    stroke: #fff;
    transition: fill 220ms @easeOutQuad, stroke 220ms @easeOutQuad, stroke-width 220ms @easeOutQuad;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  &__roof {
    fill: rgba(255, 255, 255, 0.2);
    stroke: #fff;
    stroke-width: 2;
    transition: fill 220ms @easeOutQuad, stroke 220ms @easeOutQuad, stroke-width 220ms @easeOutQuad;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  &__bridge {
    fill: rgba(255, 255, 255, 0.2);
    transition: fill 220ms @easeOutQuad, stroke 220ms @easeOutQuad, stroke-width 220ms @easeOutQuad;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  &__motor {
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: rgba(255, 255, 255, 0.2);
    transition: fill 220ms @easeOutQuad, stroke 220ms @easeOutQuad, stroke-width 220ms @easeOutQuad;
  }
  &__right {
    stroke: #fff;
    stroke-width: 2;
    transition: fill 220ms @easeOutQuad, stroke 220ms @easeOutQuad, stroke-width 220ms @easeOutQuad;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  &__left {
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  &__front {
    fill: rgba(255, 255, 255, 0.2);
    transition: fill 220ms @easeOutQuad, stroke 220ms @easeOutQuad, stroke-width 220ms @easeOutQuad;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  &__container {
    padding: 0;
    max-width: 62rem;
    position: relative;
  }
  &.is-swimming {
    opacity: 1;
    .boat {
      &__svg {
        cursor: default;
      }
      &__base {
        fill: #ffffff;
        stroke: #dddddd;
        stroke-width: 1;
      }
      &__roof {
        fill: #8e4432;
        stroke: #3d7c6b;
        stroke-width: 1;
      }
      &__bridge {
        fill: #874d41;
      }
      &__motor {
        fill: #dddddd;
      }
      &__right {
        stroke: #8e4432;
        stroke-width: 2;
      }
      &__left {
        stroke: #8e4432;
        stroke-width: 2;
      }
      &__front {
        fill: #8e4432;
      }
    }
  }
}