.design {
  &__path {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 10;
  }
  &__container {
    max-width: 50rem;
    padding: 8.6rem 0 0;
    @media @tablet {
      padding: 8.6rem 0 4.3rem;
    }
  }
}