.hero {
  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background-image: url('../../img/dot__overlay.png');
  //   opacity: .5;
  // }
}