.menu {
  &__item {
    &.is-exact {
      .menu {
        &__trigger {
          color: @sec;
          font-weight: 700;
          &:before,
          &:after {
            background-color: @sec;
          }
        }
      }
    }
  }
  &__trigger {
    text-decoration: none;
    display: inline-block;
    padding: 1.6rem;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: @main;
    position: relative;
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 1.6rem;
      right: 1.6rem;
      height: 2px;
      background-color: @main;
      transition: transform 250ms @easeOutQuad;
      transform: scale(0, 1);
    }
    &:before {
      top: 1.2rem;
    }
    &:after {
      bottom: 1.2rem;
    }
    .h &:hover {
      &:before,
      &:after {
        transform: scale(1, 1);
      }
    }
  }
}