.section {
  &__head {
    position: relative;
    height: 32rem;
    transition: height 350ms @easeOutQuad, margin 350ms @easeOutQuad;
    .h &:hover {
      .section {
        &__image {
          transition-delay: 50ms;
          width: 30%;
          &:hover {
            transition-delay: 0ms;
            transform: scale(1.2);
            z-index: 2;
            width: 60%;
            opacity: 1;
          }
        }
        &__title {
          background-color: rgba(31, 102, 82, 0);
        }
      }
    }
  }
  &__image {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    background-size: cover;
    top: 2rem;
    bottom: 2rem;
    width: 50%;
    transition: width 350ms @easeOutQuad, transform 350ms @easeOutQuad, top 350ms @easeOutQuad, bottom 350ms @easeOutQuad;
    text-align: center;
    &--1 {
      left: 0;
      transform-origin: 0% 50%;
    }
    &--2 {
      transform-origin: 100% 50%;
      right: 0;
    }
  }
  &__title {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: @white;
    background-color: @main;
    padding: .6rem 1.8rem;
    pointer-events: none;
    text-align: center;
    z-index: 3;
    transition: padding 350ms @easeOutQuad, opacity 350ms @easeOutQuad, background-color 350ms @easeOutQuad;
    h2,
    h3 {
      color: @white;
    }
  }
}