.socials {
  &__item {
    display: inline-block;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    margin: 1.2rem 0.4rem;
    padding: 0.2rem 0.3rem;
    border: solid 1px @white;
    text-align: center;
    position: relative;
    transition: background-color 250ms @easeOutQuad, border-color 250ms @easeOutQuad;
    @media @tablet {
      border: solid 2px @white;
      width: 3.2rem;
      height: 3.2rem;
      margin: 2.4rem 0.8rem;
      padding: 0.4rem;
    }
    .h &:hover {
      background-color: @main;
      border-color: @main;
      .socials {
        &__svg {
          path {}
        }
      }
    }
  }
  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &__svg {
    display: inline-block;
    width: 100%;
    height: 100%;
    path {
      fill: @white;
      transition: fill 250ms @easeOutQuad;
    }
  }
}