.story {
  &__container {
    position: relative;
    z-index: 2;
  }
  &__waypoints {
    position: relative;
    z-index: 2;
    padding: 10rem 0 0;
    @media @tablet {
      padding: 30rem 0;
    }
  }
  &__track {
    position: absolute;
    // left: -1.6rem;
    right: -1.6rem;
    top: 0;
    left: 1.6rem;
    // width: 100%;
    height: 100%;
    display: none;
    @media @tablet {
      display: block;
    }
  }
}