.support {
  padding-top: 4rem;
  @media @tablet {
    padding-top: 10rem;
  }
  &__intro {
    @media @tablet {
      display: flex;
      align-content: flex-start;
      align-items: flex-start;
    }
  }
  &__timeline {
    padding: 1.6rem 0;
    position: relative;
    @media @tablet {
      padding: 1.6rem 1.6rem 1.6rem 4.8rem;
      width: 50%;
      flex: 1 1 50%;
    }
  }
  &__content {
    position: relative;
    @media @tablet {
      padding: 1.6rem;
      width: 50%;
      flex: 1 1 50%;
    }
  }
  &__top {
    text-align: center;
  }
  &__image {
    width: 69%;
    padding-top: 69%;
    margin: 3.2rem auto;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url('../../img/kebnekaise.png');
  }
  &__dot {
    width: 4rem;
    height: 4rem;
  }
  &__item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 1.5rem;
    border: solid 1px transparent;
    transition: border-color @easeOutQuad 220ms, background-color @easeOutQuad 220ms;
    &.has-extra {
      border-bottom: none;
    }
    .h &:hover {
      border-color: @main;
      background-color: #fff;
      z-index: 2;
      .dot {
        opacity: 1;
        &__stroke {
          &--support {}
        }
      }
      .support {
        &__extra {
          opacity: 1;
          padding: .8rem 1.6rem;
        }
      }
    }
  }
  &__label {
    font-weight: 900;
    flex: 1 1 auto;
    padding: 0 1.6rem;
  }
  &__extra {
    border: solid 1px @main;
    border-top: none;
    padding: 0 1.6rem;
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    opacity: 0;
    background-color: #fff;
    transition: opacity @easeOutQuad 220ms, padding @easeOutQuad 220ms, border-color @easeOutQuad 220ms;
  }
  &__dot {
    opacity: .4;
    transition: opacity @easeOutQuad 220ms;
  }
  &__bar {
    position: absolute;
    top: 1.6rem;
    left: 0;
    width: .8rem;
    border-radius: .4rem; // background-color: #dce2e0;
    background-color: #fff;
    overflow: hidden; // border: solid 1px @main;
    border: solid 1px #b4ccc5;
    bottom: 1.6rem;
    @media @tablet {
      left: 2rem;
    }
  }
  &__meter {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    height: 100%;
    background-color: @main;
  }
}