.track {
  &__container {
    padding: 0;
    max-width: 62rem;
    position: relative;
  }
  &__svg {
    position: relative;
    width: 100%;
    height: 320rem;
  }
  &__path {
    stroke-width: 2;
    stroke: #ddd;
    opacity: 0;
  }
}