.waypoint {
  width: 100%;
  position: relative;
  padding-top: 90%;
  &--wien,
  &--bratislava,
  &--budapest,
  &--novisad,
  &--belgrade,
  &--drobeta {
    // padding-top: 1rem;
    display: none;
    @media @tablet {
      display: block;
      // padding-top: 0;
    }
  }
  @media @tablet {
    padding-top: 0;
    height: 9rem;
    &--kebnekaise {
      height: 48rem;
    }
    &--crew {
      height: 48rem;
    }
    &--support {
      height: 30rem;
    }
    &--danube {
      height: 34rem;
    }
    &--wien {
      height: 3rem;
    }
    &--bratislava {
      height: 6rem;
    }
    &--budapest {
      height: 23rem;
    }
    &--novisad {
      height: 4rem;
    }
    &--belgrade {
      height: 5rem;
    }
    &--drobeta {
      height: 19rem;
    }
    &--support {
      height: 100.2rem;
    }
  }
  &__wrapper {
    position: relative;
    @media @tablet {
      padding-left: 3%;
      padding-right: 3%;
      &--kebnekaise {
        padding-left: 39%;
      }
      &--crew {
        padding-right: 39%;
      }
      &--danube {
        padding-left: 39%;
      }
      &--support {
        padding-right: 39%;
      }
      &--wien {
        padding-right: 70%;
      }
      &--bratislava {
        padding-left: 40%;
      }
      &--budapest {
        padding-left: 52%;
      }
      &--novisad {
        padding-right: 46%;
      }
      &--belgrade {
        padding-left: 59%;
      }
      &--drobeta {
        padding-right: 28%;
      }
    }
  }
  &__dot {
    position: absolute;
    top: -2rem;
    left: 0;
    @media @tablet {
      left: -4rem;
      &--crew,
      &--wien,
      &--novisad,
      &--drobeta,
      &--support {
        left: auto;
        right: -4rem;
      }
    }
  }
  &__content {
    position: relative;
  }
  &__text {
    padding: 2.4rem 0 0;
    @media @tablet {
      padding: 3.1rem 0 2.2rem;
    }
  }
  &__actions {
    @media @tablet {
      margin: 0 -1.6rem;
    }
  }
  &__action {
    width: auto;
    margin: 1rem 0;
    position: relative;
    width: 100%;
    @media @tablet {
      margin: 1rem 1.6rem;
      transform: translate3d(-2rem, 0, 0);
      width: 28%;
      opacity: 0;
    }
  }
  &__image {
    position: absolute;
    border-radius: 50%; // top: -50%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: opacity 400ms @easeOutQuad;
    width: 70%;
    padding-top: 70%;
    left: 30%;
    transform: translate3d(0, -100%, 0);
    top: -4rem;
    @media @tablet {
      opacity: 0.6;
      transform: none;
      width: 46%;
      padding-top: 46%;
      top: 0;
    }
    &.has-entered {
      opacity: 1;
    }
    &--kebnekaise {
      @media @tablet {
        right: 112%;
        left: auto;
      }
      background-image: url('../../img/kebnekaise.png');
    }
    &--crew {
      @media @tablet {
        left: 112%;
      }
      background-image: url('../../img/crew.png');
    }
    &--danube {
      @media @tablet {
        right: 112%;
        left: auto;
      }
      background-image: url('../../img/danube.png');
    }
    &--support {
      @media @tablet {
        left: 112%; // background-image: url('../../img/crew.png');
      }
      background-image: url('../../img/support.png');
    }
  }
  &__title {
    white-space: nowrap;
    transform-origin: 0% 50%;
    position: relative;
    z-index: 2;
    padding-left: 4rem;
    opacity: 1;
    letter-spacing: 1px;
    transform: scale(1) translateX(6rem);
    @media @tablet {
      transform: translate3d(0, 0, 0) scale(.8, 1);
      letter-spacing: -1px;
      padding-left: 0;
      &--crew,
      &--wien,
      &--novisad,
      &--drobeta,
      &--support {
        text-align: right;
      }
      &--wien,
      &--bratislava,
      &--budapest,
      &--novisad,
      &--belgrade,
      &--drobeta {
        @media @tablet {
          opacity: 0;
        }
      }
      &--crew,
      &--wien,
      &--novisad,
      &--drobeta,
      &--support {
        transform-origin: 100% 50%;
      }
    }
    span {
      display: inline-block;
      transform-origin: 0 100%;
      line-height: 1em;
    }
  }
}