<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 16">
    <path d="M23.77,7.48,18,2.06l.85-.8a.71.71,0,0,0,.17-.8A.78.78,0,0,0,18.34,0H14.6a.76.76,0,0,0-.78.74V4.37a.76.76,0,0,0,.78.74h.1a.8.8,0,0,0,.55-.22l.83-.78,1.78,2.47H8.29A4.34,4.34,0,0,0,4.31,4,4.15,4.15,0,0,0,0,8.1a4.16,4.16,0,0,0,4.31,4,4.19,4.19,0,0,0,4-2.55h9.45L16,12l-.83-.78A.81.81,0,0,0,14.3,11a.74.74,0,0,0-.48.68v3.53a.76.76,0,0,0,.78.74h3.74a.78.78,0,0,0,.72-.45.71.71,0,0,0-.17-.8l-.85-.8,5.73-5.42A.71.71,0,0,0,23.77,7.48ZM4.31,6.77a1.23,1.23,0,1,1,0,2.45,1.23,1.23,0,1,1,0-2.45Z"
      fill="#fff" />
  </svg>
</template>
