<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Other">

<head prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900|Raleway:300,300i&amp;subset=latin-ext" rel="stylesheet">
  <link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>favicon.ico">
  <title>laivu</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but laivu doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>