.btn {
  .font-sec;
  display: inline-block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  border: solid 0.2rem @sec;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: -0.02em;
  padding: 1.1rem 0.6rem 1.1rem 3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: @main;
  transition: all 280ms @easeOutQuad;
  box-shadow: 0 0 0 @sec;
  white-space: nowrap;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: @main;
    transition: transform 350ms @easeOutQuad,
      background-color 350ms @easeOutQuad;
    z-index: -1;
    transform-origin: 0% 100%;
    transform: scale(0, 1);
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: @white;
    z-index: -2;
  }
  &__anchor {
    height: 1.2rem; // 3
    width: 2rem; // 6
    vertical-align: top;
    top: 0.5rem;
    position: relative;
    opacity: 0;
    transition: transform 450ms @easeOutQuad,
      opacity 350ms @easeOutQuad;
  }
  &__text {
    display: inline-block;
    vertical-align: top;
  }
  .h &:hover {
    border-color: @main;
    text-decoration: none;
    background-color: @main;
    color: @main;
    letter-spacing: 0.1em;
    color: @white;
    padding: 1.1rem .6rem 1.1rem 0;
    &:before {
      transform: scale(1, 1);
      background-color: transparent;
    }
    &:after {
      opacity: 0;
    }
    .btn {
      &__anchor {
        opacity: 1;
        transform: translate3d(0.4rem, 0, 0) rotateX(180deg);
      }
    }
  }
  &--inv {
    border-color: @main;
    background-color: transparent;
    color: @main;
    .h &:hover {
    }
  }
}
