.container {
  // padding-left: 1.6rem;
  // padding-right: 1.6rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  margin-left: auto;
  margin-right: auto;
    // max-width: 124.2rem;
    max-width: 127.4rem;
  width: 100%;
  &--s {
    // max-width: 83.2rem;
    max-width: 86.4rem;
  }
  &--l {
    max-width: 124.2rem;
  }
  &--xl {
    max-width: 127.6rem;
  }
}