.dot {
  display: block;
  width: 8rem;
  height: 8rem;
  transform-origin: 50% 50%;
  &__stroke {
    transform-origin: 50% 50%;
    stroke-dashoffset: 0;
    @media @tablet {
      transform: scale(0) rotate(-90deg);
    }
    &--support {
      transform: none;
      fill: #fafafa;
    }
  }
  &__circle {
    transform-origin: 50% 50%;
    @media @tablet {
      transform: scale(0.4);
      opacity: 0;
    }
  }
}