@f: 1.6rem;

@tab: 769px;
@lap: 1279px;
@desk: 1441px;

@tablet: ~"only screen and (min-width: @{tab})";
@laptop: ~"only screen and (min-width: @{lap})";
@desktop: ~"only screen and (min-width: @{desk})";

// @main: #8E4432;
// @main: #3D7C6B;
// @mainActive: #a2664e;
@main: #1F6652;
@mainActive: #3D7C6B;

@sec: #8E4432;
// @sec: #3D7C6B;
@secActive: #a2664e;

@red: #a71c1c;

@black: #382626;
@white: #F7F7F7;

@greyLighter: #f9f9f9;
@greyLight: #e5e5e5;
@grey: #e5e5e5;
@greyDark: #8c8279;
@greyDarker: #494747;

@bg: @white;
@text: @greyDarker;