<template>
  <main class="main__simple simple">
    <div class="simple__container container">
      <div class="simple__about about">
        <div class="about__design design">
          <div class="design__container container">
            <design-draw/>
          </div>
        </div>
        <article class="about__article">
          <div class="about__sections">
            <section class="about__section section" v-for="(section,s) in page.sections"
              :key="s">
              <h3 v-text="section.title" />
              <div class="section__text" v-html="section.text" />
            </section>
          </div>
        </article>
      </div>
    </div>
  </main>
</template>

<script>
import anime from 'animejs'

import DesignDraw from '@/components/DesignDraw'

export default {
  name: 'About',
  components: {
    DesignDraw
  },
  data() {
    return {
      page: {
        title: 'MŪSŲ ISTORIJA',
        sections: [
          {
            title: 'Istorija',
            text:
              '<p>Nors ir esame konstravimo entuziastai, prieš pradėdami statyti laivą, nei apie laivų konstravimą, nei apie pačią laivybą neturėjome jokio supratimo.<p>' +
              '<p>Mūsų kapitonui Adomui pasiūlius laivo statymo idėją ilgai nedvejojome - nusipirkome brėžinius, įšokome į apsauginius kostiumus ir pradėjome savo kelionę po klaidų ir jų šlifavimo pasaulį.</p>'
          },
          {
            title: 'Technologija',
            text:
              '<p>Laivas sudarytas iš dviejų pagrindinių ingredientų: faneros ir stiklo audinio. Laivo karkasui naudojome 6 ir 9 mm storio beržo fanerą, klijuotą drėgmei atspariais klijais. Faneros lakštai klijuoti naudojant poliesterinę dervą, sujungimo siūles armuojant 600 g/m2 storio stiklo audiniu. Visas laivo išorinis paviršius nulaminuotas naudojant tą pačią dervą bei 600 g/m2 storio stiklo audinį dugnui, 150 g/m2 – bortams bei deniui. Visas laivo paviršius dengtas specialiais laivų dažais</p>' +
              '<p>Laivo statybos (nuo medžiagų įsigijimo iki pirmo laivelio nuleidimo į vandenį) užtruko keturis mėnesius.</p>'
          },
          {
            title: 'Kas gavosi',
            text:
              '<p>Gavosi simpatiškas laivas - kemperis. Tikslesnės detalės: </p>' +
              '<p><ul>' +
              '<li>Miegamų vietų  skaičius: <b>4</b></li>' +
              '<li>Ilgis: <b>4.80 m</b></li>' +
              '<li>Plotis: <b>2.44 m</b></li>' +
              '<li>Grimzlė: <b>0.30 m</b></li>' +
              '<li>Masė: <b>300 kg</b></li>' +
              '<li>Keliamoji galia: <b>1000 kg</b></li>' +
              '<li>Varomas pakabinamu benzininiu <b>10 AG</b> varikliu.</li>' +
              '</ul></p>'
          }
        ]
      }
    }
  },
  methods: {},
  metaInfo() {
    return {
      title: 'Apie | KEBNEKAISE',
      meta: [
        { property: 'og:type', content: 'website' },
        {
          name: 'description',
          content:
            'KEBNEKAISE - tikrų tikriausias savadarbis laivas su kapitono tilteliu ir romo sandėliais triume. '
        },
        { property: 'og:title', content: 'Apie | KEBNEKAISE' },
        {
          property: 'og:description',
          content:
            'KEBNEKAISE - tikrų tikriausias savadarbis laivas su kapitono tilteliu ir romo sandėliais triume. '
        },
        { property: 'og:url', content: 'https://laivu.lt/apie' },
        {
          property: 'og:image',
          content: 'https://laivu.lt/img/img/kebnekaise.9394b4c7.png'
        }
      ]
    }
  },
  props: ['scrollSpeed', 'scrollPos', 'device']
}
</script>
