<template>
  <main class="main__simple simple">
    <div class="simple__header">
      <h1 v-text="page.title" />
    </div>
    <div class="simple__container container">
      <div class="simple__gallery gallery">
        about:)
      </div>
    </div>
  </main>
</template>

<script>
import anime from 'animejs'

export default {
  name: 'GalleryTemplate',
  components: {},
  data() {
    return {
      page: {
        title: 'teh gallery from FB api'
      }
    }
  },
  methods: {},
  mounted() {
    console.log(anime)
  }
}
</script>
