<template>
  <main class="page__home home" ref="main">
    <div class="home__boat boat" :class="{'is-swimming': scrollPos > 77}">
      <div class="boat__container container container--s">
        <div class="boat__object" ref="boat" @click="startSwim">
          <svg xmlns="http://www.w3.org/2000/svg" class="boat__svg" :class="{'is-up': boatUp}"
            width="36" height="64" viewBox="0 0 36 64">
            <path class="boat__base" fill="#ffffff" d="M10.63,63.91l-.48-.65-.45-.67-.49-.68-.45-.69-.48-.74-.45-.74-.46-.83-.43-.81-.43-.81-.45-.85-.4-.85-.43-.9-.4-.92-.37-1-.37-1-.38-1-.35-1.06-.36-1-.32-1.12-.3-1.15-.3-1.19L1.78,44l-.24-1.28-.24-1.3-.24-1.38L.87,38.68.7,37.23.54,35.74.4,34.19.27,32.62.16,31,.08,29.27,0,27.57V22.06l0-2,.08-2L.24,16l.13-2.14.16-2.18L.72,9.4,1,7.1l.24-2.4H34.82l.24,2.41.21,2.31.19,2.27.16,2.18L35.76,16,35.87,18,36,20l0,2v5.54l0,1.73L35.84,31l-.08,1.64-.13,1.57-.13,1.55-.19,1.49-.16,1.46L34.94,40l-.21,1.37-.24,1.31L34.22,44l-.27,1.24-.29,1.19-.32,1.15L33,48.71l-.35,1.08-.35,1.06L32,51.93l-.37,1-.4,1-.4.92-.4.9-.4.85-.46.85-.43.81-.46.81-.43.76-.48.74-.45.74-.94,1.39-.48.67-.48.65Z"
            />
            <path class="boat__roof" d="M28.87,45.69,7.1,45.6s-.72-4.22-.86-5.27-.7-7.54-.75-8.94-.16-3.53-.16-4.75V21.4H30.67s0,7.27-.08,9-.46,7.18-.59,8.5S28.87,45.69,28.87,45.69Z"
            />
            <rect class="boat__bridge" x="13.55" y="13.28" width="8.92" height="22.8"
            />
            <rect class="boat__motor" x="13.55" width="8.92" height="4.62"
            />
            <path class="boat__right" d="M30.32,17.89l-.13-2.18L30,13.45l-.19-2.31L29.6,8.74h0"
            />
            <path class="boat__left" d="M6.4,8.74h0l-.21,2.41L6,13.45l-.19,2.27-.13,2.18"
            />
            <path class="boat__front" d="M8.2,49.55l.29.92.29.9.32.85.29.85.32.81.32.81.32.76.35.74.3.74.35.69.35.69L12,59l.35.65H23.06l.35-.65.35-.67.67-1.38.35-.74.32-.74.35-.76.32-.81.32-.81.29-.85.32-.85.27-.9.29-.92"
            />
          </svg>
        </div>
        <div class="boat__text" @click="startSwim">Plaukiam!</div>
      </div>
    </div>
    <div class="home__hero hero" :style="heroTransform" ref="hero"
      s/>
    <div class="home__story story">
      <div class="story__container container">
        <div class="story__waypoints">
          <section class="story__waypoint waypoint" :class="waypointClass(s)"
            v-for="(waypoint, s, i) in page.waypoints" :key="i"
            :ref="s+'waypoint'">
            <div :class="['waypoint__wrapper', 'waypoint__wrapper--'+s]">
              <div :class="['waypoint__content', 'waypoint__content--'+s]">
                <dot :class="['waypoint__dot', 'waypoint__dot--'+s, 'dot']" :ref="s+'Dot'"
                  mod="waypoint" />
                <div class="waypoint__image" :class="imageClass(s)" :ref="s+'Image'"
                />
                <h2 v-html="splitText(waypoint.title)" :class="['waypoint__title', 'waypoint__title--'+s]"
                  :ref="s+'Title'" />
                <div :class="['waypoint__text', 'waypoint__text--'+s]" v-html="waypoint.text"
                  :ref="s+'Text'" />
                <div :class="['waypoint__actions', 'waypoint__actions--'+s]"
                  v-if="waypoint.actions">
                  <router-link :to="action.path" :name="action.label" class="waypoint__action btn"
                    v-for="(action, a) in waypoint.actions" :key="a"
                    :ref="s+'Action'">
                    <span class="btn__text" v-text="action.label" />
                    <icon-anchor class="btn__anchor" />
                  </router-link>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="story__track track">
          <div class="track__container container container--s">
            <track-map ref="trackMap" />
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import anime from 'animejs'

import DesignDraw from '@/components/DesignDraw'
import TrackMap from '@/components/TrackMap'

import Dot from '@/elements/Dot'
import Btn from '@/elements/Btn'

import IconAnchor from '@/icons/IconAnchor'

export default {
  name: 'Home',
  components: {
    DesignDraw,
    TrackMap,
    Btn,
    Dot,
    IconAnchor
  },
  data() {
    return {
      boatTracker: null,
      strokeTracker: null,
      trackHeight: 0,
      boatTimer: null,
      boatPosY: 0,
      boatPosX: 0,
      boatRotation: 0,
      boatInitialY: null,
      boatUp: false,
      waypointAnimating: false,
      page: {
        title: 'home',
        waypoints: {
          kebnekaise: {
            hasEntered: false,
            title: 'laivas',
            text:
              '<p>KEBNEKAISE - tikrų tikriausias savadarbis laivas su kapitono tilteliu ir romo sandėliais triume. Norėjom sukonstruoti didelį ir veikiantį daiktą, tad prieš statydami per daug nesukome galvos, kur su juo plauksime.</p>' +
              '<p>Po vienos ilgos darbo dienos drėgname doke, laižydama ledus Vingio parke laivo motoristė sugalvojo: <b><i>“Plauksim Dunojum!”</i></b>. Tąkart tik smagiai pasijuokėm, o šiandien jau dėliojamės planus didžiausiam vasaros nuotykiui!</p>',
            actions: [
              {
                label: 'plačiau',
                path: '/laivas'
              }
            ]
          },
          crew: {
            hasEntered: false,
            title: 'Įgula',
            text:
              '<p>Įgula susibūrė 2014 metais ilgoje kelionė po Skandinaviją. Visi kartu maudėmės lediniame vandenyje, drebėjom Nordkapp’e, uogavom, sapnavom mus puolančias meškas ir kopėm į aukščiausią Švedijos viršūnę - kalną, besivadinantį <b>KEBNEKAISE</b>.</p>' +
              '<p>Po šios kelionės tapome neišskiriamas keliautojų ketvertukas ir dar ne kartą žygiavome po Lietuvos miškus ir laukus kol pajutome norą drauge užkariauti ir vandenis. </p>'
          },
          danube: {
            hasEntered: false,
            title: 'Dunojus',
            text:
              '<p>Dunojus yra antra ilgiausia Europos upė tekanti net pro 10 valstybių ir <b>4 sostines</b>. Visas jas ir nutarėme aplankyti savo laiveliu.</p>' +
              '<p>Laivelį į upę nuleisime truputį aukščiau Vienos Austrijoje, žemyn upe leisimės link Bratislavos. Po kelių dienų Slovakijoje pasieksime Budapeštą ir Vengrijos lygumas. Kelionę pabaigsime Serbijoje, žemiau Belgrado, Bulgarijos pasienyje prie Gelžinių vartų tarpeklio. Per 20 dienų ketiname laiveliu įveikti 1000 kilometrų. </p>'
          },
          wien: { hasEntered: false, title: 'Vienna' },
          bratislava: { hasEntered: false, title: 'Bratislava' },
          budapest: { hasEntered: false, title: 'Budapest' },
          novisad: { hasEntered: false, title: 'Novi Sad' },
          belgrade: { hasEntered: false, title: 'Belgrade' },
          drobeta: {
            hasEntered: false,
            title: 'Drobeta-Turnu Severin'
          },
          support: {
            hasEntered: false,
            title: 'Reikėjimai',
            text:
              '<p>Laivelis puikiai plaukia Lietuvos upėse ir ežeruose, yra sėkmingai praėjęs privalomą techninę apžiūrą ir užregistruotas Lietuvos laivų registre.</p>' +
              '<p>Tačiau norint, jog KEBNEKAISE taptų patikima transporto priemone ilgoje kelionėje svečiose šalyse, reikia dar nemažai nuveikti.',
            actions: [
              {
                label: 'Reikėjimai',
                path: '/reikejimai'
              }
            ]
          }
        }
      }
    }
  },
  computed: {
    heroTransform() {
      return {
        transform:
          this.device.winW > 768
            ? 'matrix3d(1,0,0.00,0,0.00,1,0.00,0,0,0,1,0,0,' +
              this.scrollPos / 5 +
              ',0,1)'
            : 'none'
      }
    }
  },
  metaInfo() {
    return {
      title: 'KEBNEKAISE',
      meta: [
        { property: 'og:type', content: 'website' },
        {
          name: 'description',
          content:
            'KEBNEKAISE - tikrų tikriausias savadarbis laivas su kapitono tilteliu ir romo sandėliais triume. '
        },
        { property: 'og:title', content: 'KEBNEKAISE' },
        {
          property: 'og:description',
          content:
            'KEBNEKAISE - tikrų tikriausias savadarbis laivas su kapitono tilteliu ir romo sandėliais triume. '
        },
        { property: 'og:url', content: 'https://laivu.lt/' },
        {
          property: 'og:image',
          content: 'https://laivu.lt/img/hero.acd68c07.jpg'
        }
      ]
    }
  },
  methods: {
    startSwim() {
      if (this.scrollPos < 101) {
        anime({
          duration: 1000,
          targets: this.$refs['main'],
          easing: 'easeOutSine',
          scrollTop: this.$refs['hero'].offsetHeight + window.innerHeight * 0.07
        })
      }
    },
    waypointClass(s) {
      if (typeof this.$refs[s + 'Dot'] !== 'undefined') {
        var mob = window.innerWidth < 769
        var fromTop = this.$refs[s + 'Dot'][0].$el.getBoundingClientRect().top
        var fromLeft = this.$refs[s + 'Dot'][0].$el.getBoundingClientRect().left
        var rightTitles = ['crew', 'wien', 'novisad', 'drobeta', 'support']
        var cities = [
          'wien',
          'bratislava',
          'budapest',
          'novisad',
          'belgrade',
          'drobeta'
        ]
        var pos = rightTitles.indexOf(s) > -1 && !mob ? 'right' : 'left'
        var scale = cities.indexOf(s) > -1 ? 0.6 : 1
        if (
          (fromTop < this.boatPosY - 10 ||
            this.page.waypoints[s]['hasEntered']) &&
          !this.waypointAnimating &&
          this.device.winW > 768
        ) {
          if (!this.page.waypoints[s]['hasEntered']) {
            this.waypointAnimating = true
            var $dot = this.$refs[s + 'Dot'][0]
            var $text = this.$refs[s + 'Text'][0]
            var $dotStroke = $dot.$refs['dotStroke']
            var $dotCircle = $dot.$refs['dotCircle']
            var $title = this.$refs[s + 'Title'][0]
            var $titleLetters = $title.children
            var letterCount = $titleLetters.length
            var letterDeg = pos === 'left' ? 60 : -60
            var letterOrigin = pos === 'left' ? '50% 100%' : '50% 0%'
            var letterTranslateX = pos === 'left' ? '0.3rem' : '-0.3rem'
            var titleTranslateX = pos === 'left' ? '6rem' : '-6rem'
            var dotLine = anime.timeline()
            var $actions = this.$refs[s + 'Action']
            setTimeout(() => {
              this.waypointAnimating = false
            }, 300)
            dotLine
              .add({
                targets: $dotCircle,
                elasticity: 10,
                opacity: 1,
                easing: 'easeOutExpo',
                duration: 900,
                scale: [0.4, scale],
                complete: () => {}
              })
              .add({
                targets: $title,
                opacity: 1,
                letterSpacing: [-1, 2.4],
                scale: scale,
                duration: 1000,
                offset: 0,
                translateX: titleTranslateX,
                elasticity: 1000,
                easing: 'easeOutBack'
              })
              .add({
                targets: $dotStroke,
                elasticity: 10,
                easing: 'easeOutExpo',
                opacity: 10,
                offset: 200,
                opacity: 1,
                duration: 750,
                scale: [0.6, scale]
              })
              .add({
                targets: $dotStroke,
                strokeDashoffset: [anime.setDashoffset, 0],
                elasticity: 0,
                easing: 'linear',
                duration: 750,
                rotate: 270,
                scale: scale,
                offset: 0
              })
              .add({
                targets: $dot,
                elasticity: 10,
                duration: 1500,
                easing: 'easeOutExpo',
                scale: scale,
                offset: 0
              })
            if (typeof $actions !== 'undefined') {
              var $actions = $actions.map($action => {
                return $action.$el
              })
              dotLine.add({
                targets: $actions,
                elasticity: 10,
                easing: 'easeOutExpo',
                opacity: [0, 1],
                offset: 500,
                translateX: [-20, 0],
                duration: 750,
                delay: (el, i) => {
                  return 200 * i
                },
                complete: function(anim) {}
              })
            }
          }
          this.page.waypoints[s]['hasEntered'] = true
          return ['waypoint--' + s, 'has-entered']
        } else {
          return ['waypoint--' + s]
        }
      } else {
        return ['waypoint--' + s]
      }
    },
    imageClass(s) {
      if (typeof this.$refs[s + 'Image'] !== 'undefined') {
        var fromTop = this.$refs[s + 'Image'][0].getBoundingClientRect().top
        if (
          fromTop < this.boatPosY + 100 ||
          this.page.waypoints[s]['hasEntered']
        ) {
          return ['waypoint__image--' + s, 'has-entered']
        } else {
          return ['waypoint__image--' + s]
        }
      } else {
        return ['waypoint__image--' + s]
      }
    }
  },
  mounted() {
    if (this.device.winW > 768) {
      this.trackHeight = this.$refs['trackMap'].$refs['trackSvg'].clientHeight
      this.trackPath = anime.path(this.$refs['trackMap'].$refs['trackPath'])
      this.boatTracker = anime({
        targets: this.$refs['boat'],
        translateX: this.trackPath('x'),
        translateY: this.trackPath('y'),
        rotate: this.trackPath('angle'),
        duration: this.trackHeight,
        loop: false,
        elasticity: 0,
        easing: 'linear',
        autoplay: false,
        update: anim => {
          this.boatRotation = Number(
            anim.animations[2]['currentValue'].replace('deg', '')
          )
        }
      })
    }
    this.$emit('setHero', this.$refs['hero'].clientHeight)
  },
  props: ['scrollSpeed', 'scrollPos', 'device'],
  watch: {
    scrollPos() {
      if (this.device.winW > 768) {
        this.boatTracker.seek(this.scrollPos)
        this.boatPosY = this.$refs['boat'].getBoundingClientRect().top
        this.boatPosX = this.$refs['boat'].getBoundingClientRect().left
        this.boatUp = this.scrollSpeed < 0
        clearTimeout(this.boatTimer)
        this.boatTimer = setTimeout(() => {
          this.boatUp = this.scrollSpeed < 0
        }, 2000)
      }
    }
  }
}
</script>
