<template>
  <main class="main__simple simple">
    <h1 v-text="page.title" />
  </main>
</template>

<script>
export default {
  name: 'NotFoundTemplate',
  data() {
    return {
      page: {
        title: 'Page not found:('
      }
    }
  },
  metaInfo() {
    return {
      title: 'KEBNEKAISE',
      meta: [
        { property: 'og:type', content: 'website' },
        {
          name: 'description',
          content:
            'KEBNEKAISE - tikrų tikriausias savadarbis laivas su kapitono tilteliu ir romo sandėliais triume. '
        },
        { property: 'og:title', content: 'KEBNEKAISE' },
        {
          property: 'og:description',
          content:
            'KEBNEKAISE - tikrų tikriausias savadarbis laivas su kapitono tilteliu ir romo sandėliais triume. '
        },
        { property: 'og:url', content: 'https://laivu.lt/' },
        {
          property: 'og:image',
          content: 'https://laivu.lt/img/hero.acd68c07.jpg'
        }
      ]
    }
  }
}
</script>
