<template>
  <main class="main__simple simple">
    <div class="simple__container container">
      <div class="simple__support support">
        <div class="support__intro">
          <div class="support__content">
            <div class="support__top">
              <div class="support__image" />
              <h1 v-text="page.title" />
            </div>
            <div class="support__text" v-html="page.text" />
          </div>
          <div class="support__timeline">
            <div class="support__bar" ref="bar">
              <i class="support__meter" ref="meter" />
            </div>
            <div class="support__list" ref="list">
              <div class="support__item" :class="{'is-animated': item.animated, 'has-extra': item.extra}"
                v-for="(item, i) in page.items" :key="i" ref="item">
                <dot class="support__dot dot dot--support" :class="{'is-animated':item.animated}"
                  mod="support" ref="dot" />
                <div class="support__label" v-text="item.label" />
                <div class="support__extra" v-text="item.extra" v-if="item.extra"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import anime from 'animejs'
import Dot from '@/elements/Dot'

export default {
  name: 'Support',
  components: {
    Dot
  },
  computed: {
    completed() {
      var c = this.page.items.filter((item, i) => {
        if (item.completed) {
          item['index'] = i
          return item
        }
      })
      return c
    }
  },
  data() {
    return {
      page: {
        title: 'REIKĖJIMAI',
        items: [
          {
            label: 'Patikimas 10 HP variklis',
            major: false,
            completed: true,
            price: 100,
            animated: false,
            extra:
              'Su dabar turimu 1982 metų varikliuku dažniau irkluojam ir remontuojam nei plaukiam:('
          },
          {
            label: 'Laivo transportavimo priekaba',
            major: false,
            completed: false,
            price: 100,
            animated: false,
            extra:
              'Turėtume daug problemų, jei pabirtų prieš tai nuomota priekaba su visu mūsų laiveliu vidury remontuojamo greitkelio Lenkijoj. O be to, turint nuosavą priekabėlę bus daug paprasčiau grįžus paplukdyti draugus.'
          },
          {
            label: 'Akumuliatorius',
            major: true,
            completed: true,
            price: 100,
            animated: false,
            extra:
              'Kai pavyks kelionės metu kažkiek energijos pasigaminti, tai ją gerai būtų kažkur ir sutalpinti.'
          },
          {
            label: 'Radijo stotelė',
            major: true,
            completed: false,
            price: 100,
            animated: false,
            extra:
              'Jeigu kartais reikės išsikviest pagalbą, sutikus kokį Skrajojantį Olandą.'
          },
          {
            label: 'Elektros instaliacija',
            major: false,
            completed: false,
            price: 100,
            animated: false,
            extra:
              'Laivo gabaritinės ir apšvietimo lempos bei interjero apšvietimas - kad būtų įmanoma naktį knygą paskaityt ar šachmatais sužaisti.'
          },
          {
            label: 'Vandentiekis',
            major: false,
            completed: true,
            price: 100,
            animated: false,
            extra:
              'Kriauklė, vandens taplykla ir instaliacija - maisto gamybai ir veidų prausybai.'
          },
          {
            label: 'Dujotiekis',
            major: false,
            completed: true,
            price: 100,
            animated: false,
            extra:
              'Dujų balionas, šildytuvas, viryklė ir instaliacija - maisto gamybai ir įgulos sušildymui.'
          },
          {
            label: 'Sulankstomas stogas',
            major: false,
            completed: false,
            price: 100,
            animated: false,
            extra:
              'Laivo variklis bus valdomas iš išorės, tai būtų smagu galėti plaukti ir per liūtis ir kepinant saulutei.'
          }
        ],
        text:
          '<p>Didelių svajonių įgyvendinimas reikalauja ne tik įdėto didelio darbo, bet ir nemažų finansinių išteklių. Norėdami pasiekti Dunojų, turime gerai pasiruošti ir tam <b>mums reikia Jūsų pagalbos!</b></p>' +
          '<p>Už palaikymą pažadame garsinti jūsų vardą nuo Nemuno iki Dunojaus krantų! O aplinkybėms teisingai susiklosčius net paplukdyti mūsų mažuoju laiveliu!</p>' +
          '<p>Jei norite prisidėti prie mūsų kelionės finansiškai, tai galite padaryti pervesdami norimą sumą mūsų kapitonui, mokėjimo laukelyje įrašydami <b>“Kebnekaise nori į Dunojų”</b>.</p>' +
          '<p>Rekvizitai:</p>' +
          '<p><b>Adomas Eikevičius</b><br>LT43 7044 0002 7464 8231<br> AB "SEB bankas"' +
          '<p>Daugiau detalių galite sužinoti pasiteiravę el. paštu <b><a href="mailto:a.eikevicius@gmail.com">a.eikevicius@gmail.com</a></b> arba telefonu <b><a href="tel:+370 622 06963">+370 622 06963</a></b></p>'
      },
      barReady: false,
      speed: 600
    }
  },
  metaInfo() {
    return {
      title: 'Reikėjimai | KEBNEKAISE',
      meta: [
        { property: 'og:type', content: 'website' },
        {
          name: 'description',
          content:
            'Didelių svajonių įgyvendinimas reikalauja ne tik įdėto didelio darbo, bet ir nemažų finansinių išteklių. Norėdami pasiekti Dunojų, turime gerai pasiruošti ir tam mums reikia Jūsų pagalbos!'
        },
        { property: 'og:title', content: 'Reikėjimai | KEBNEKAISE' },
        {
          property: 'og:description',
          content:
            'Didelių svajonių įgyvendinimas reikalauja ne tik įdėto didelio darbo, bet ir nemažų finansinių išteklių. Norėdami pasiekti Dunojų, turime gerai pasiruošti ir tam mums reikia Jūsų pagalbos!'
        },
        { property: 'og:url', content: 'https://laivu.lt/reikejimai' },
        {
          property: 'og:image',
          content: 'https://laivu.lt/img/support.e3511138.png'
        }
      ]
    }
  },
  methods: {
    animateBar() {
      anime({
        targets: this.$refs['bar'],
        height: this.$refs['list'].clientHeight,
        duration: this.speed,
        easing: 'linear',
        delay: 1200,
        complete: () => {
          this.animateItems()
        }
      })
    },
    animateItems() {
      this.barReady = true
      var $targetMeter = this.$refs['meter']
      var itemDuration = this.speed / (this.page.items.length - 1)
      var delay = 0
      var itemSize =
        this.$refs['meter'].clientHeight /
        this.page.items.length *
        this.completed.length
      this.completed.forEach((c, i) => {
        var $targetDot = this.$refs['dot'][c.index]['$el']
        var $targetStroke = $targetDot.children[0]
        var $targetCircle = $targetDot.children[1]
        anime({
          targets: $targetDot,
          duration: this.speed,
          easing: 'easeOutExpo',
          scale: 1.2,
          opacity: [0.4, 1],
          delay: delay,
          elasticity: 0,
          complete: () => {
            this.page.items[c.index]['animated'] = true
          }
        })
        anime({
          targets: $targetStroke,
          duration: this.speed,
          easing: 'linear',
          delay: delay,
          elasticity: 0,
          strokeDashoffset: [450, 0],
          complete: () => {}
        })
        anime({
          targets: $targetCircle,
          duration: this.speed,
          easing: 'easeOutExpo',
          scale: 1,
          elasticity: 0,
          opacity: 1,
          delay: delay,
          complete: () => {}
        })
        delay = delay + this.speed
      })
      anime({
        targets: $targetMeter,
        duration: this.speed * this.completed.length,
        easing: 'linear',
        translateY: itemSize,
        elasticity: 0,
        complete: () => {}
      })
    }
  },
  mounted() {
    this.animateItems()
  },
  props: ['scrollSpeed', 'scrollPos', 'device']
}
</script>
