// Fonts
// @import 'fonts.less';
// @import '../../fonts64/woff.css';

@mainFont: 'Raleway';
@secFont: 'Montserrat';

.font-main() {
  font-family: @mainFont;
}
.font-sec() {
  font-family: @secFont;
}
// global animations
@import 'animations.less';
// global transitions
@import 'transitions.less';
// raw element styling
@import 'base.less';
