*,
*:before,
*:after {
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  color: inherit;
  outline: none;
  padding: 0;
  line-height: inherit;
  border-width: 0;
  border-style: solid;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
}

@base: 10; // base font size in pixels
@break: 1260; // design size
@scale: 20; // viewport scale factor
@vw: unit(1000 / (100 / @scale) / @break, vw);
@fsz: unit((100 - @scale) / 100 * @base, px);
html {
  background-color: @bg;
  background-color: #fafafa;
  color: @text;
  font-size: unit(@base, px); // @media screen and (min-width: unit(@break, px)) {
  //   font-size: ~'calc(@{vw} + @{fsz})';
  // }
}

body {
  .font-main;
  margin: 0;
  background-color: inherit;
  color: inherit;
  font-size: @f;
  position: relative;
  line-height: 1.5;
  font-weight: 300;
  height: 100%;
  ::-webkit-selection {
    color: @white;
    background-color: @main;
  }
  :-moz-selection {
    color: @white;
    background-color: @main;
  }
  ::selection {
    color: @white;
    background-color: @main;
  }
  ::-webkit-input-placeholder,
  :-moz-placeholder,
  :-ms-input-placeholder {
    color: @text;
    transition: all 280ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}

a {
  color: @main;
  &[href^='tel'] {
    color: inherit;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5 {
  .font-sec;
  text-transform: uppercase;
  margin: 0;
  font-weight: 900;
  color: @sec;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
  @media @tablet {}
}

h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  color: #646d43;
}

p {
  margin: 1em 0;
  img {
    width: 100%;
  }
  ul {
    margin-top: -3.7rem;
  }
}

svg:not(:root) {
  overflow: visible;
}

b,
em {
  font-weight: 700;
}

ul {
  margin: 0;
  list-style-type: none;
}

li {
  margin: 0;
}