.nav {
  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.subnav {
  &-enter,
  &-leave-to {
    transform: translate3d(100%, 0, 0);
  }
}

// .page {
//   transition: all 18800ms @easeOutQuad;
//   &-enter {
//     opacity: 0;
//     transform: scale(.1);
//     // filter: blur(7px);
//     // transform: translate3d(100%, 0, 0);
//     // transform-origin: 50% 0%;
//     // animation: rotateRoomTopIn .8s both ease;
//   }
//   &-enter-to {
//     opacity: 1;
//     z-index: 2;
//   }
//   &-leave-to {
//     // filter: blur(1px);
//     transform: scale(1.1);
//     z-index: 1;
//   }
// }

.pt-page-rotateRoomTopOut {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateRoomTopOut .8s both ease;
  animation: rotateRoomTopOut .8s both ease;
}

.pt-page-rotateRoomTopIn {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateRoomTopIn .8s both ease;
  animation: rotateRoomTopIn .8s both ease;
}

.pt-page-rotateRoomBottomOut {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateRoomBottomOut .8s both ease;
  animation: rotateRoomBottomOut .8s both ease;
}

.pt-page-rotateRoomBottomIn {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateRoomBottomIn .8s both ease;
  animation: rotateRoomBottomIn .8s both ease;
}

@-webkit-keyframes rotateRoomTopOut {
  from {}
  to {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(-90deg);
  }
}

@keyframes rotateRoomTopOut {
  from {}
  to {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(-90deg);
    transform: translateY(-100%) rotateX(-90deg);
  }
}

@-webkit-keyframes rotateRoomTopIn {
  from {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(90deg);
  }
}

@keyframes rotateRoomTopIn {
  from {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(90deg);
    transform: translateY(100%) rotateX(90deg);
  }
}