<template>
  <button class="btn" :style="{filter: 'url(#'+rid+')'}" @click="go(url, $event)">{{label}}
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-filters">
      <defs>
        <filter :id="rid" ref="rippleFilter">
          <feImage ref="rippleImage" xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="https://tympanus.net/Development/DistortedButtonEffects//img/ripple.png"
            x="-234" y="-263" width="600" height="600" result="ripple"></feImage>
          <feDisplacementMap ref="rippleMap" xChannelSelector="R" yChannelSelector="G"
            color-interpolation-filters="sRGB" in="SourceGraphic"
            in2="ripple" scale="0" result="dm"></feDisplacementMap>
          <feComposite operator="in" in2="ripple"></feComposite>
          <feComposite in2="SourceGraphic"></feComposite>
        </filter>
      </defs>
    </svg>
  </button>
</template>

<script>
import anime from 'animejs'

export default {
  name: 'Btn',
  components: {},
  props: ['url', 'label', 'rid'],
  data() {
    return {
      isFF: navigator.userAgent.match(/firefox/i)
    }
  },
  methods: {
    go(url, e) {
      var x = this.isFF ? e.offsetX : e.offsetX + 10
      var y = this.isFF ? e.offsetY : e.offsetY + 10
      var map = { mapScale: 30 }
      anime({
        targets: this.$refs['rippleImage'],
        duration: 3000,
        x: [x, x - 300],
        y: [y, y - 300],
        width: [0, 600],
        height: [0, 600],
        elasticity: 0
      })
      anime({
        targets: this.$refs['rippleMap'],
        duration: 2000,
        mapScale: 0,
        elasticity: 0,
        update: () => {
          this.$refs['rippleMap'].setAttribute('scale', map.mapScale)
        }
      })
    }
  },
  mounted() {}
}
</script>
