<template>
  <svg xmlns="http://www.w3.org/2000/svg" class="dot" viewBox="0 0 80 80">
    <circle :class="['dot__stroke', 'dot__stroke--'+mod]" stroke-dasharray="245"
      stroke-dashoffset="245" ref="dotStroke" cx="40" cy="40" r="39"
      fill="#f7f7f7" stroke="#8e4432" stroke-width="2" />
    <circle :class="['dot__circle', 'dot__circle--'+mod]" ref="dotCircle"
      cx="40" cy="40" r="24" fill="#1F6652" />
  </svg>
</template>

<script>
export default {
  props: ['mod'],
  name: 'Dot'
}
</script>
