<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 601.568 384.246">
    <!-- :style="{transform:'rotate('+scrollPos/3.2+'deg) scale('+(1-(scrollPos/100))+') translate3d('+scrollPos*5+'px,'+scrollPos*15+'px,0)'}"> -->
    <path id="base" d="M530.066,194.862c-8.875-8.358-18.172-16.263-27.6-23.988L289.045,38.062,213.59.567.934,123.407l13.253,33.014c5.466,13.616,9.827,28.718,16.729,41.674,4.218,7.917,15.822,14.58,22.885,20.216,8.276,6.6,16.7,12.99,25.227,19.269C118,266.3,158.963,292.469,202.07,314.556c42.059,21.551,85.64,40.189,131.235,52.889,45.454,12.66,94.36,20.8,141.468,13.615,10.918-1.665,23.272-3.558,33.447-8.041,11.963-5.272,23.3-13.448,34.616-20.006q15.517-8.992,31.054-17.95c3.672-2.121,6.085-3.113,8.282-6.454,4.25-6.46,7.412-13.976,11.035-20.806l7.727-14.569C584.627,255.178,560.122,223.165,530.066,194.862Z"
      fill="#fff" />
    <line id="rail-deck-back-1-bar-1" x1="53.379" y1="138.865" x2="53.379"
      y2="148.522" fill="none" stroke="#CE7515" stroke-miterlimit="10"
      stroke-width="2.5" />
    <line id="rail-deck-back-1-bar-2" x1="86.398" y1="159.42" x2="86.399"
      y2="169.274" fill="none" stroke="#CE7515" stroke-miterlimit="10"
      stroke-width="2.5" />
    <path id="rail-deck-back-2" d="M226.423,13.966V7.337s1.257-3.058,4.777-1.015,79.7,39.786,79.7,39.786a7.969,7.969,0,0,1,2.263,5.185c.126,3.216,0,7.043,0,7.043"
      fill="none" stroke="#CE7515" stroke-miterlimit="10" stroke-width="2.5"
    />
    <line id="rail-deck-back-2-bar-1" x1="251.725" y1="16.695" x2="251.726"
      y2="26.364" fill="none" stroke="#CE7515" stroke-miterlimit="10"
      stroke-width="2.5" />
    <line id="rail-deck-back-2-bar-2" x1="280.112" y1="30.829" x2="280.112"
      y2="40.696" fill="none" stroke="#CE7515" stroke-miterlimit="10"
      stroke-width="2.5" />
    <path id="cabin" d="M485.018,117.174h-.1v-.1l-.1-.1h-.1l-.1-.1h-.1l-.1-.1v-.1h-.1l-.192-.192h-.1c-20.321-18.118-45.64-33.089-68.638-47.521-18.628-11.689-37.35-23.149-56.386-34.084-8.665-4.978-17.322-10.03-26.079-14.864a657.578,657.578,0,0,0-67.21,29.152L393.36,122.832c-22.265,11.774-43.911,24.22-65.2,37.686L200.55,86.776c-23.076,15.212-45.341,31.405-67.114,48.426v57.153c49.736,28.063,98.9,56.387,151.415,79.123,15.1,6.539,30.322,13.338,45.9,18.689l171.716-99.154V131.079C496.472,126.73,490.9,121.758,485.018,117.174Z"
      fill="#fff" />
    <path id="title" d="M34.436,177.808l-.389.592.432,2.74-2.345-1.5-1.75-11.091,2.345,1.5.635,4.024,1.69-2.537,2.6,1.662-2.061,3.07,3.952,8.111-2.76-1.766Zm10.871,7.723.444,2.819-5.883-3.763L38.119,173.5l5.752,3.679L44.316,180l-3.407-2.179.205,1.3,2.992,1.914.425,2.693-2.992-1.914.23,1.458Zm7.249,2.912a6.582,6.582,0,0,1,.609,1.9q.23,1.458-.412,1.767t-2.1-.623l-3.983-2.547-1.749-11.091,3.781,2.418a7.689,7.689,0,0,1,2.263,2.159A6.348,6.348,0,0,1,52.021,185a2.721,2.721,0,0,1-.027,1.234.7.7,0,0,1-.576.529A7.524,7.524,0,0,1,52.556,188.442Zm-4.875-6.48.26,1.647,1.112.711q.779.5.648-.325a1.878,1.878,0,0,0-.908-1.322Zm3.011,6.413A1.937,1.937,0,0,0,49.765,187l-1.436-.918.275,1.743,1.436.918Q50.829,189.246,50.691,188.375Zm9.021-1.068L61.46,198.4,59.5,197.144l-3.483-6.758.794,5.038-2.325-1.487-1.749-11.091L54.7,184.1l3.483,6.759-.794-5.039Zm8.34,12.772L68.5,202.9l-5.884-3.764-1.749-11.091,5.752,3.68.445,2.821-3.407-2.18.205,1.3,2.992,1.914.425,2.693-2.992-1.914.23,1.458Zm3.666,1.575-.388.592.432,2.74-2.345-1.5L67.667,192.4l2.345,1.5.635,4.024,1.69-2.537,2.6,1.662-2.061,3.07,3.952,8.11-2.76-1.765Zm9.6,7.7-2.689-1.72-.17,1.63-2.426-1.553,1.344-9.111,2.346,1.5,4.842,13.069-2.466-1.578Zm-1.082-3.112L79.1,203.017l-.248,2.349Zm2.964-3.918,2.386,1.526,1.749,11.091-2.386-1.526Zm6.2,13.892a12.153,12.153,0,0,1-1.5-1.71l.338-2.232a13.269,13.269,0,0,0,1.249,1.46,7.407,7.407,0,0,0,1.247,1.047,1.471,1.471,0,0,0,.684.3c.126-.01.173-.114.141-.316a1.426,1.426,0,0,0-.361-.7,13.013,13.013,0,0,0-.975-.966q-.861-.792-1.456-1.451a8.088,8.088,0,0,1-1.11-1.621,6.818,6.818,0,0,1-.706-2.168,3.276,3.276,0,0,1,.074-1.662.917.917,0,0,1,.9-.632,3.34,3.34,0,0,1,1.727.664,10.229,10.229,0,0,1,1.469,1.159,11.507,11.507,0,0,1,1.352,1.513l-.291,2.251a9.3,9.3,0,0,0-2.1-2.085q-.921-.589-.811.108a1.363,1.363,0,0,0,.352.674,12.583,12.583,0,0,0,.956.932,19.741,19.741,0,0,1,1.451,1.42,8.188,8.188,0,0,1,1.124,1.623,6.7,6.7,0,0,1,.709,2.163,3.224,3.224,0,0,1-.075,1.653.933.933,0,0,1-.9.633,3.279,3.279,0,0,1-1.726-.654A11.8,11.8,0,0,1,89.4,216.219Zm11.164,4.654.444,2.819-5.883-3.763-1.75-11.091,5.752,3.679.445,2.821-3.406-2.179.2,1.3,2.992,1.914.425,2.693-2.992-1.914.23,1.458Z"
      fill="#8E4432" />
    <line id="stroke-kiel-2" x1="542.257" y1="353.361" x2="540.052"
      y2="360.361" fill="none" stroke="#B2867D" stroke-width="1"
      stroke-miterlimit="10" />
    <path id="stroke-kiel-1" d="M527.684,361.8c6.309-.228,11.579-.987,17.066-4.123l2.109-7"
      fill="none" stroke="#B2867D" stroke-width="1" stroke-miterlimit="10"
    />
    <path id="stroke-inner-2" d="M278.69,108.448c24.286,11.178,47.716,25.328,70.757,38.837"
      fill="none" stroke="#B2867D" stroke-width="1" stroke-miterlimit="10"
    />
    <polyline id="stroke-inner-1" points="323.561 82.556 265.747 115.927 265.747 124.462"
      fill="none" stroke="#B2867D" stroke-width="1" stroke-miterlimit="10"
    />
    <line id="stroke-cabin-vertical" x1="330.752" y1="230.233" x2="330.752"
      y2="290.167" fill="none" stroke="#B2867D" stroke-width="1"
      stroke-miterlimit="10" />
    <path id="stroke-cabin" d="M133.436,135.2v57.153c49.736,28.063,98.9,56.387,151.415,79.123,15.1,6.539,30.322,13.338,45.9,18.689l171.716-99.154V131.079"
      fill="none" stroke="#B2867D" stroke-width="1" stroke-miterlimit="10"
    />
    <line id="stroke-sole-3" x1="177.348" y1="102.502" x2="172.65"
      y2="99.721" fill="none" stroke="#B2867D" stroke-width="1"
      stroke-miterlimit="10" />
    <polyline id="stroke-sole-2" points="172.65 62.131 172.65 99.721 140.052 118.612"
      fill="none" stroke="#B2867D" stroke-width="1" stroke-miterlimit="10"
    />
    <polyline id="stroke-sole-1" points="148.489 123.503 107.454 99.721 172.65 62.131 252.612 108.256"
      fill="none" stroke="#B2867D" stroke-width="1" stroke-miterlimit="10"
    />
    <line id="stroke-front" x1="507.741" y1="347.032" x2="508.221"
      y2="373.019" fill="none" stroke="#B2867D" stroke-width="1"
      stroke-miterlimit="10" />
    <polyline id="stroke-back" points="245.229 112.571 265.747 100.68 265.747 49.185"
      fill="none" stroke="#B2867D" stroke-width="1" stroke-miterlimit="10"
    />
    <path id="stroke-bottom" d="M.934,123.407l13.253,33.014c5.466,13.616,9.827,28.718,16.729,41.674,4.218,7.917,15.822,14.58,22.885,20.216,8.276,6.6,16.7,12.99,25.227,19.269C118,266.3,158.963,292.469,202.07,314.556c42.059,21.551,85.64,40.189,131.235,52.889,45.454,12.66,94.36,20.8,141.468,13.615,10.918-1.665,23.272-3.558,33.447-8.041,11.963-5.272,23.3-13.448,34.616-20.006q15.517-8.992,31.054-17.95c3.672-2.121,6.085-3.113,8.282-6.454,4.25-6.46,7.412-13.976,11.035-20.806l7.727-14.569"
      fill="none" stroke="#B2867D" stroke-width="1" stroke-miterlimit="10"
    />
    <path id="stroke-deck" d="M289.045,38.062,213.59.567.934,123.407C37.22,148.5,74,172.9,111.744,195.749c36.759,22.252,74.324,43.27,112.87,62.272a1086.667,1086.667,0,0,0,120.323,50.734,790.973,790.973,0,0,0,121.669,31.812c10.906,1.969,21.831,3.757,32.806,5.288,3.349.467,6.454,1.413,9.535.479,3.722-1.128,7.645-4.413,11-6.351L594.938,296.7l6-3.461c-16.307-38.057-40.812-70.07-70.867-98.373-8.875-8.358-18.172-16.263-27.6-23.988"
      fill="none" stroke="#B2867D" stroke-width="1" stroke-miterlimit="10"
    />
    <path id="stroke-roof" d="M393.36,122.832c-22.265,11.774-43.911,24.22-65.2,37.686L200.55,86.776c-23.076,15.212-45.341,31.405-67.114,48.426,25.52,15.315,51.412,29.979,77.852,43.536,23.054,11.82,45.825,22.463,68.922,32.153,16.612,6.969,33.416,13.724,50.542,19.342,41.224-31.039,84.546-59.01,131.1-81.428,13.322-6.416,26.917-12.182,40.62-17.726-6-4.349-11.571-9.321-17.45-13.9h-.1v-.1l-.1-.1h-.1l-.1-.1h-.1l-.1-.1v-.1h-.1l-.192-.192h-.1c-20.321-18.118-45.64-33.089-68.638-47.521-18.628-11.69-37.35-23.15-56.386-34.085-8.665-4.978-17.322-10.03-26.079-14.864a657.574,657.574,0,0,0-67.21,29.152Z"
      fill="none" stroke="#B2867D" stroke-width="1" stroke-miterlimit="10"
    />

    <path id="rail-cabin-front-1" d="M253.482,193.968,253.4,187.5s.988-3.193,3.89-1.79S322.9,211.155,322.9,211.155a6.868,6.868,0,0,1,1.914,4.676c.143,3.115.089,4.868.089,4.868"
      fill="none" stroke="#CE7515" stroke-miterlimit="10" stroke-width="3"
    />
    <line id="rail-cabin-front-1-bar-1" x1="287.518" y1="197.705"
      x2="287.641" y2="207.134" fill="none" stroke="#CE7515" stroke-miterlimit="10"
      stroke-width="3" />
    <path id="rail-cabin-front-2" d="M427.985,83.768l-.361-7.174s.725-3.306,3.334-1.084S489.666,118.8,489.666,118.8a11.374,11.374,0,0,1,1.888,5.618c.264,3.481.295,5.409.295,5.409"
      fill="none" stroke="#CE7515" stroke-miterlimit="10" stroke-width="3"
    />
    <line id="rail-cabin-front-2-bar-1" x1="458.019" y1="95.755"
      x2="458.546" y2="106.22" fill="none" stroke="#CE7515" stroke-miterlimit="10"
      stroke-width="3" />
    <path id="rail-cabin-back-1" d="M143.971,135.369l-.218-5.313s1.139-2.858,4.676-.759,79.891,42.335,79.891,42.335a8.213,8.213,0,0,1,2.4,5.036c.23,3.068.231,5.718.231,5.718"
      fill="none" stroke="#CE7515" stroke-miterlimit="10" stroke-width="3"
    />
    <line id="rail-cabin-back-1-bar-1" x1="169.007" y1="140.064"
      x2="169.326" y2="149.273" fill="none" stroke="#CE7515" stroke-miterlimit="10"
      stroke-width="3" />
    <line id="rail-cabin-back-1-bar-2" x1="197.459" y1="154.753"
      x2="197.784" y2="165.15" fill="none" stroke="#CE7515" stroke-miterlimit="10"
      stroke-width="3" />
    <path id="rail-cabin-back-2" d="M332.767,24.227l-.319-7.151s.932-3.311,4.05-1.141,70.3,42.137,70.3,42.137a9.9,9.9,0,0,1,2.191,5.571c.262,3.468.339,5.606.339,5.606"
      fill="none" stroke="#CE7515" stroke-miterlimit="10" stroke-width="3"
    />
    <line id="rail-cabin-back-2-bar-1" x1="354.608" y1="26.923" x2="355.073"
      y2="37.354" fill="none" stroke="#CE7515" stroke-miterlimit="10"
      stroke-width="3" />
    <line id="rail-cabin-back-2-bar-2" x1="379.643" y1="41.892" x2="380.118"
      y2="52.536" fill="none" stroke="#CE7515" stroke-miterlimit="10"
      stroke-width="3" />
    <path id="paint-side" d="M10.18,147.778C43.467,170.63,77.2,192.837,111.744,213.749c36.759,22.252,74.324,43.27,112.87,62.272a1086.667,1086.667,0,0,0,120.323,50.734,790.973,790.973,0,0,0,121.669,31.812c10.906,1.969,21.831,3.757,32.806,5.288,3.349.467,6.454,1.413,9.535.479,3.722-1.128,7.645-4.413,11-6.351l67.69-39.075,5.522-11.188-73.212,42.263c-3.356,1.937-7.279,5.223-11,6.351-3.081.934-6.186-.012-9.535-.479-10.975-1.532-21.9-3.319-32.806-5.288a790.973,790.973,0,0,1-121.669-31.812,1086.667,1086.667,0,0,1-120.323-50.734c-38.546-19-76.111-40.021-112.87-62.272C75.918,184.063,40.97,160.983,6.484,137.237Z"
      fill="#1F6652" stroke-miterlimit="10" />
    <path id="paint-front" d="M502.468,191.012c34.8,22.155,65.921,62.409,80.381,96.155l-77.454,43.618c-2.732.828-49.528-8.825-59.2-10.571-36.6-6.608-80.345-17.714-115.444-30.048l10.72-6.578c16.786,5.9,35.765,11.487,54.813,16.324,16.894,4.29,77.433,11.5,79.9,10.755l78-45.667c-8-18.67-9.71-22.528-23.464-41.634-9.021-12.531-22.133-21.522-34.286-29.258Z"
      fill="#8E4432" stroke-miterlimit="10" />
    <path id="paint-back" d="M279.22,42.628,213.335,10.665,22.849,121.167c32.176,22.252,77.114,50.925,110.587,71.187V179.167c-31.747-19.218-60.341-37-90.858-58.105L216.733,20.034l54.5,26.44Z"
      fill="#8E4432" stroke-miterlimit="10" />
    <path id="rail-deck-front-1" d="M343.3,302.459V295.8a3.655,3.655,0,0,1,4.755-2.165c3.5,1.209,79.332,20.863,79.332,20.863a6.074,6.074,0,0,1,2.252,4.666c.125,3.2,0,5.076,0,5.076"
      fill="none" stroke="#CE7515" stroke-miterlimit="10" stroke-width="3"
    />
    <line id="rail-deck-front-1-bar-1" x1="368.485" y1="299.135"
      x2="368.485" y2="308.849" fill="none" stroke="#CE7515" stroke-miterlimit="10"
      stroke-width="3" />
    <line id="rail-deck-front-1-bar-2" x1="396.739" y1="306.529"
      x2="396.739" y2="316.442" fill="none" stroke="#CE7515" stroke-miterlimit="10"
      stroke-width="3" />
    <path id="rail-deck-front-2" d="M510.266,186.017v-7.571s.887-2.155,3.371.727,51.243,52.789,51.243,52.789a11.38,11.38,0,0,1,1.6,5.105c.089,2.744,0,6.246,0,6.246"
      fill="none" stroke="#CE7515" stroke-miterlimit="10" stroke-width="3"
    />
    <line id="rail-deck-front-2-bar-1" x1="528.121" y1="194.677"
      x2="528.121" y2="202.803" fill="none" stroke="#CE7515" stroke-miterlimit="10"
      stroke-width="3" />
    <line id="rail-deck-front-2-bar-2" x1="548.152" y1="215.941"
      x2="548.152" y2="224.233" fill="none" stroke="#CE7515" stroke-miterlimit="10"
      stroke-width="3" />
    <path id="rail-deck-back-1" d="M23.946,130.4v-6.621s1.462-2.769,5.557.07,92.713,57.814,92.713,57.814a9.6,9.6,0,0,1,2.632,5.691c.146,3.24,0,7.034,0,7.034"
      fill="none" stroke="#CE7515" stroke-miterlimit="10" stroke-width="2.5"
    />
    <path id="gum" d="M597.112,299.441l-2.175,1.255-74.989,43.288c-3.356,1.937-7.279,5.223-11,6.351-3.081.934-6.186-.012-9.535-.479-10.975-1.532-21.9-3.319-32.806-5.288a790.973,790.973,0,0,1-121.669-31.812,1086.667,1086.667,0,0,1-120.323-50.734c-38.546-19-76.111-40.021-112.87-62.272-36.785-22.268-72.646-46-108.031-70.423"
      fill="none" stroke="#382626" stroke-miterlimit="10" stroke-width="3"
    />
    <g id="trap">
      <g id="trap-back">
        <polygon id="trap-back-door" fill="#8E4432" points="265.392 46.541 328.189 82.782 262.161 120.794 199.455 84.559 265.392 46.541"
        />
        <polygon id="trap-back-height" fill="#8E4432" points="199.455 84.559 262.161 120.794 328.189 82.782 328.189 84.805 262.161 122.817 199.455 86.582 199.455 84.559"
        />
      </g>
      <g id="trap-front">
        <polygon id="trap-front-door" fill="#8E4432" points="328.518 159.139 262.161 120.794 328.189 82.782 394.455 121.025 328.518 159.139"
        />
        <polygon id="trap-front-height" fill="#8E4432" points="328.518 159.139 394.455 121.025 394.455 123.047 328.518 161.162 262.161 122.817 262.161 120.794 328.518 159.139"
        />
      </g>
      <polygon id="trap-gum" fill="#2D2D2D" points="315.726 75.805 342.523 91.046 276.495 129.058 249.788 113.823 315.726 75.805"
      />
    </g>
    <g id="windows">
      <g id="win-side-3">
        <path fill="none" stroke="#B2867D" stroke-width="1" id="win-side-frame-3"
          d="M191,219.854l-46.993-25.235a8.288,8.288,0,0,1-3.991-6.756l.694-38.99c.045-2.513,1.914-3.585,4.154-2.382l46.993,25.235a8.288,8.288,0,0,1,3.991,6.756l-.694,38.99C195.11,219.985,193.24,221.057,191,219.854Z"
        />
        <polygon fill="#999999" stroke="#B2867D" stroke-width="1" id="win-side-glass-3"
          points="190.33 215.338 143.849 190.366 143.922 151.33 190.403 176.302 190.33 215.338"
        />
      </g>
      <g id="win-side-2">
        <path fill="none" stroke="#B2867D" stroke-width="1" id="win-side-frame-2"
          d="M254.261,253.8l-48.679-24.652a8.313,8.313,0,0,1-4.176-6.815l.369-39.92c.024-2.573,1.942-3.717,4.262-2.542l48.679,24.652a8.313,8.313,0,0,1,4.176,6.815l-.369,39.92C258.5,253.827,256.582,254.971,254.261,253.8Z"
        />
        <polygon fill="#999999" stroke="#B2867D" stroke-width="1" id="win-side-glass-2"
          points="254.563 248.836 206.349 223.864 206.425 184.828 254.639 209.8 254.563 248.836"
        />
      </g>
      <g id="win-side-1">
        <path id="win-side-frame-1" fill="none" stroke="#B2867D" stroke-width="1"
          d="M318.833,280.93l-49.7-19.449a7.362,7.362,0,0,1-4.263-6.466l.377-40.8c.024-2.629,1.982-4.022,4.351-3.1l49.7,19.449a7.362,7.362,0,0,1,4.263,6.466l-.377,40.8C323.16,280.464,321.2,281.857,318.833,280.93Z"
        />
        <polygon id="win-side-glass-1" fill="#999999" stroke="#B2867D"
          stroke-width="1" points="319.159 276.167 268.981 256.469 269.066 216.133 319.244 235.832 319.159 276.167"
        />
      </g>
      <g id="win-front-1">
        <path id="win-front-frame-1" fill="none" stroke="#B2867D" stroke-width="1"
          d="M412.123,188.076l-73.545,42.133c-2.214,1.268-4.023,3.973-4.021,6.011l.062,45.148c0,2.037,1.817,2.667,4.031,1.4L412.2,240.632c2.214-1.268,4.023-3.973,4.021-6.011l-.062-45.148C416.151,187.436,414.337,186.807,412.123,188.076Z"
        />
        <polygon fill="#999999" stroke="#B2867D" stroke-width="1" id="win-front-glass-1"
          points="413.546 192.407 338.057 236.07 338.402 279.428 413.891 235.765 413.546 192.407"
        />
      </g>
      <g id="win-front-2">
        <path id="win-front-frame-2" fill="none" stroke="#B2867D" stroke-width="1"
          d="M496.027,139.742l-73.545,42.133c-2.214,1.268-4.023,3.973-4.021,6.011l.062,45.148c0,2.037,1.817,2.667,4.031,1.4L496.1,192.3c2.214-1.268,4.023-3.973,4.021-6.011l-.062-45.148C500.055,139.1,498.241,138.474,496.027,139.742Z"
        />
        <polygon id="win-front-glass-2" fill="#999999" stroke="#B2867D"
          stroke-width="1" points="496.862 144.576 421.374 188.24 421.719 231.597 497.207 187.934 496.862 144.576"
        />
      </g>
    </g>
    <path id="shader" d="M330.752,230.233l171.716-99.154s1.131,4.228,1.381,6.158-7.25,8.68-22.5,18.43-117.25,66.75-122.25,70S339.4,234.8,330.752,230.233Z"
      fill="#1F6652" />
    <path id="pad3" fill="#2D2D2D" d="M173.437,229.472,134.2,207.08c-1.87-1.067-2.912-2.22-2.314-2.561l9.264-5.293c.6-.341,2.616.253,4.486,1.32l39.232,22.393c1.87,1.067,2.912,2.22,2.314,2.561l-9.264,5.293C177.325,231.134,175.307,230.54,173.437,229.472Z"
    />
    <path id="pad2" fill="#2D2D2D" d="M236.856,261.088,193.72,239.3c-2.056-1.038-3.308-2.126-2.782-2.416l8.158-4.508c.526-.291,2.638.321,4.694,1.36l43.136,21.785c2.056,1.038,3.308,2.126,2.782,2.416l-8.158,4.508C241.025,262.738,238.912,262.126,236.856,261.088Z"
    />
    <path id="pad1" fill="#2D2D2D" d="M300.854,290.279l-42.9-18.613c-2.045-.887-3.238-1.817-2.652-2.067l9.089-3.871c.586-.25,2.738.272,4.783,1.159l42.9,18.613c2.045.887,3.238,1.817,2.652,2.067l-9.089,3.871C305.051,291.688,302.9,291.167,300.854,290.279Z"
    />
  </svg>
</template>

<script>
import anime from 'animejs'
export default {
  name: 'DesignDraw',
  mounted() {
    var gLine = anime.timeline({
      // loop: true,
      // direction: 'alternate',
      autoplay: false
    })
    // var s = 1.6
    // var s = 2
    var s = 1
    var e = 'easeInOutQuad'
    gLine
      .add({
        targets: '#stroke-deck',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        duration: s * 3000
      })
      .add({
        targets: '#stroke-roof',
        easing: e,
        offset: 0,
        strokeDashoffset: [anime.setDashoffset, 0],
        duration: s * 3000
      })
      .add({
        targets: '#stroke-back',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 700,
        duration: s * 400
      })
      .add({
        targets: '#stroke-sole-1',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 930,
        duration: s * 900
      })
      .add({
        targets: '#stroke-sole-2',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 1200,
        duration: s * 800
      })
      .add({
        targets: '#stroke-sole-3',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 1400,
        duration: s * 200
      })
      .add({
        targets: '#stroke-bottom',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 1100,
        duration: s * 1900
      })
      .add({
        targets: '#stroke-cabin',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 900,
        duration: s * 2200
      })
      .add({
        targets: '#stroke-cabin-vertical',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 1900,
        duration: s * 200
      })
      .add({
        targets: '#stroke-front',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 2000,
        duration: s * 200
      })
      .add({
        targets: '#stroke-kiel-1',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 2400,
        duration: s * 200
      })
      .add({
        targets: '#stroke-kiel-2',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 2450,
        duration: s * 100
      })
      .add({
        targets: '#stroke-inner-1',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 2400,
        duration: s * 500
      })
      .add({
        targets: '#stroke-inner-2',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 2500,
        duration: s * 500
      })
      .add({
        targets: '#base',
        easing: e,
        opacity: [0, 1],
        offset: s * 2800,
        duration: s * 800
      })
      .add({
        targets: '#cabin',
        easing: e,
        opacity: [0, 1],
        offset: s * 2800,
        duration: s * 800
      })
      .add({
        targets: '#win-side-3',
        easing: e,
        opacity: [0, 1],
        translateX: ['.3rem', 0],
        offset: s * 3600,
        duration: s * 300
      })
      .add({
        targets: '#win-side-2',
        easing: e,
        opacity: [0, 1],
        translateX: ['.3rem', 0],
        offset: s * 3800,
        duration: s * 300
      })
      .add({
        targets: '#win-side-1',
        easing: e,
        opacity: [0, 1],
        translateX: ['.3rem', 0],
        offset: s * 4000,
        duration: s * 300
      })
      .add({
        targets: '#win-front-1',
        easing: e,
        opacity: [0, 1],
        translateX: ['-.3rem', 0],
        offset: s * 4200,
        duration: s * 300
      })
      .add({
        targets: '#win-front-2',
        easing: e,
        opacity: [0, 1],
        translateX: ['-.3rem', 0],
        offset: s * 4400,
        duration: s * 300
      })
      .add({
        targets: '#win-front-2',
        easing: e,
        opacity: [0, 1],
        translateX: ['-.3rem', 0],
        offset: s * 4400,
        duration: s * 300
      })
      .add({
        targets: '#trap-back',
        easing: e,
        opacity: [0, 1],
        translateY: ['.3rem', 0],
        offset: s * 4800,
        duration: s * 300
      })
      .add({
        targets: '#trap-front',
        easing: e,
        opacity: [0, 1],
        translateY: ['.3rem', 0],
        offset: s * 5000,
        duration: s * 300
      })
      .add({
        targets: '#paint-front',
        easing: e,
        opacity: [0, 1],
        offset: s * 5400,
        duration: s * 600
      })
      .add({
        targets: '#paint-back',
        easing: e,
        opacity: [0, 1],
        offset: s * 5700,
        duration: s * 600
      })
      .add({
        targets: '#paint-side',
        easing: e,
        opacity: [0, 1],
        offset: s * 6000,
        duration: s * 600
      })
      .add({
        targets: '#cabin',
        easing: e,
        fill: ['rgba(255, 255, 255, 1)', 'rgba(142, 68, 50, 1)'],
        offset: s * 6300,
        duration: s * 600
      })
      .add({
        targets: '#gum',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 6500,
        duration: s * 1500
      })
      .add({
        targets: '#win-front-frame-2',
        easing: e,
        fill: ['rgba(255, 255, 255, 1)', 'rgba(142, 68, 50, 1)'],
        offset: s * 6700,
        duration: s * 300
      })
      .add({
        targets: '#win-front-frame-1',
        easing: e,
        fill: ['rgba(255, 255, 255, 1)', 'rgba(142, 68, 50, 1)'],
        offset: s * 6850,
        duration: s * 300
      })
      .add({
        targets: '#win-side-frame-1',
        easing: e,
        fill: ['rgba(255, 255, 255, 1)', 'rgba(31, 102, 82, 1)'],
        offset: s * 7000,
        duration: s * 300
      })
      .add({
        targets: '#win-side-frame-2',
        easing: e,
        fill: ['rgba(255, 255, 255, 1)', 'rgba(31, 102, 82, 1)'],
        offset: s * 7150,
        duration: s * 300
      })
      .add({
        targets: '#win-side-frame-3',
        easing: e,
        fill: ['rgba(255, 255, 255, 1)', 'rgba(31, 102, 82, 1)'],
        offset: s * 7300,
        duration: s * 300
      })
      .add({
        targets: '#trap-gum',
        easing: e,
        opacity: [0, 1],
        offset: s * 7000,
        duration: s * 600
      })
      .add({
        targets: '#rail-deck-back-1',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 7600,
        duration: s * 600
      })
      .add({
        targets: '#rail-deck-back-1-bar-1',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 7800,
        duration: s * 200
      })
      .add({
        targets: '#rail-deck-back-1-bar-2',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 7900,
        duration: s * 200
      })
      .add({
        targets: '#rail-deck-back-2',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 7900,
        duration: s * 600
      })
      .add({
        targets: '#rail-deck-back-2-bar-1',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 8100,
        duration: s * 200
      })
      .add({
        targets: '#rail-deck-back-2-bar-2',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 8200,
        duration: s * 200
      })
      .add({
        targets: '#rail-deck-front-1',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 8200,
        duration: s * 600
      })
      .add({
        targets: '#rail-deck-front-1-bar-1',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 8400,
        duration: s * 200
      })
      .add({
        targets: '#rail-deck-front-1-bar-2',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 8500,
        duration: s * 200
      })
      .add({
        targets: '#rail-deck-front-2',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 8500,
        duration: s * 600
      })
      .add({
        targets: '#rail-deck-front-2-bar-1',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 8700,
        duration: s * 200
      })
      .add({
        targets: '#rail-deck-front-2-bar-2',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 8800,
        duration: s * 200
      })
      .add({
        targets: '#rail-cabin-back-1',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 9200,
        duration: s * 600
      })
      .add({
        targets: '#rail-cabin-back-1-bar-1',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 9400,
        duration: s * 200
      })
      .add({
        targets: '#rail-cabin-back-1-bar-2',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 9500,
        duration: s * 200
      })
      .add({
        targets: '#rail-cabin-back-2',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 9500,
        duration: s * 600
      })
      .add({
        targets: '#rail-cabin-back-2-bar-1',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 9700,
        duration: s * 200
      })
      .add({
        targets: '#rail-cabin-back-2-bar-2',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 9900,
        duration: s * 200
      })
      .add({
        targets: '#rail-cabin-front-1',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 9900,
        duration: s * 400
      })
      .add({
        targets: '#rail-cabin-front-1-bar-1',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 10000,
        duration: s * 200
      })
      .add({
        targets: '#rail-cabin-front-2',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 10000,
        duration: s * 400
      })
      .add({
        targets: '#rail-cabin-front-2-bar-1',
        easing: e,
        strokeDashoffset: [anime.setDashoffset, 0],
        offset: s * 10100,
        duration: s * 200
      })
      .add({
        targets: '#shader',
        easing: e,
        opacity: [0, 1],
        offset: s * 10300,
        duration: s * 600
      })
      .add({
        targets: '#pad1',
        easing: e,
        opacity: [0, 1],
        offset: s * 10800,
        duration: s * 300
      })
      .add({
        targets: '#pad2',
        easing: e,
        opacity: [0, 1],
        offset: s * 11000,
        duration: s * 300
      })
      .add({
        targets: '#pad3',
        easing: e,
        opacity: [0, 1],
        offset: s * 11200,
        duration: s * 300
      })
      .add({
        targets: '#title',
        origin: '0% 50% 0px',
        transformOrigin: ['0 40% 0', '0 50% 0'],
        easing: e,
        scale: [0.9, 1],
        opacity: [0, 1],
        offset: s * 11700,
        duration: s * 800
      })
    // gLine.seek(s * 3000)
    setTimeout(() => {
      gLine.play()
    }, 300)
  },
  props: ['scrollPos']
}
</script>

<style>

</style>
