<template>
  <header class="header">
    <div class="header__socials socials">
      <div class="socials__item socials__item--facebook">
        <i class="socials__icon socials__icon--facebook">
          <svg class="socials__svg socials__svg--facebook" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 6.51 14">
            <path d="M6.51,4.53H4.29V3.08a.59.59,0,0,1,.62-.67H6.47V0H4.32A2.73,2.73,0,0,0,1.38,2.93v1.6H0V7H1.38v7H4.29V7h2Z"
            />
          </svg>
        </i>
        <a href="https://www.facebook.com/laivaskebnekaise/" target="_blank"
          class="socials__link"></a>
      </div>
      <div class="socials__item socials__item--instagram">
        <i class="socials__icon socials__icon--instagram">
          <svg class="socials__svg socials__svg--instagram" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 14 14">
            <path d="M7,3.359a3.613,3.613,0,1,0,3.613,3.613A3.62,3.62,0,0,0,7,3.359ZM7,9.286A2.315,2.315,0,1,1,9.315,6.972,2.325,2.325,0,0,1,7,9.286Zm3.754-6.831a.819.819,0,1,1-.819.819A.819.819,0,0,1,10.754,2.456Zm2.117-1.3A4.02,4.02,0,0,0,9.907,0H4.093A3.867,3.867,0,0,0,0,4.093V9.879A4.061,4.061,0,0,0,1.185,12.9,4.119,4.119,0,0,0,4.121,14H9.879a4.168,4.168,0,0,0,2.964-1.1A4.041,4.041,0,0,0,14,9.907V4.093A4.046,4.046,0,0,0,12.871,1.157Zm-.113,8.75a2.758,2.758,0,0,1-.819,2.06,2.918,2.918,0,0,1-2.06.734H4.121a2.918,2.918,0,0,1-2.06-.734A2.837,2.837,0,0,1,1.3,9.879V4.093a2.814,2.814,0,0,1,.762-2.06A2.87,2.87,0,0,1,4.121,1.3H9.935A2.814,2.814,0,0,1,12,2.06a2.913,2.913,0,0,1,.762,2.032V9.907Z"
            />
          </svg>
        </i>
        <a href="https://www.instagram.com/laivas_kebnekaise/" target="_blank"
          class="socials__link"></a>
      </div>
    </div>
    <router-link class="header__logo" to="/" v-text="'KEBNEKAISE'"
    />
  </header>
</template>

<script>
export default {
  name: 'AppHeader',
  data() {
    return {
      nav: {
        socials: []
      }
    }
  }
}
</script>
