<template>
  <nav class="nav">
    <div class="nav__content">
      <div class="nav__menu menu" v-if="navOpen">
        <ul class="menu__list">
          <router-link @click.native="closeNav" v-for="(item, i) in nav"
            :to="item.path" v-if="navOpen" tag="li" :key="'item'+i"
            class="menu__item" :ref="'menuItem'">
            <a v-text="item.label" class="menu__trigger" />
          </router-link>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import anime from 'animejs'

export default {
  name: 'AppNav',
  props: ['navOpen'],
  data() {
    return {
      nav: [
        { label: 'Pradžia', path: '/' },
        { label: 'Laivas', path: '/laivas' },
        { label: 'Reikėjimai', path: '/reikejimai' }
        // { label: 'Naujienos', path: '/naujienos' },
        // { label: 'Nuotraukos', path: '/nuotraukos' }
      ]
    }
  },
  methods: {
    closeNav() {
      this.$emit('closeNav')
    }
  },
  mounted() {
    var $menuItems = this.$refs['menuItem'].map($item => {
      return $item.$el
    })
    anime({
      perspective: 1000,
      targets: $menuItems,
      translateY: ['-50%', 0],
      opacity: [0, 1],
      duration: 350,
      letterSpacing: ['-0.6em', '0.02em'],
      elasticity: 10,
      easing: 'easeOutQuad',
      delay: (el, i) => {
        return 50 * i
      }
    })
  }
}
</script>
