<template>
  <div id="app" :class="{'app':true,'h':device.isLaptop,'jaggy':device.isLaptop&&device.OS!=='mac-os'}">

    <app-header class="app__header" :class="{'is-down':scrollDown,'over-hero':overHero}"
      ref="header" />

    <transition name="page" @enter="mainRouterEnter" @leave="mainRouterLeave">
      <router-view class="app__page page" @setHero="setheroH" :scrollPos="scrollPos"
        :scrollSpeed="scrollSpeed" :device="device" @scroll.native="trackScroll($event)"
      />
    </transition>

    <transition name="nav">
      <app-nav class="app__nav" @closeNav="navOpen=false" :navOpen="navOpen"
        v-if="navOpen" />
    </transition>

    <div class="app__navicon navicon" :class="{'is-open':navOpen,'over-hero':overHero&&!navOpen}"
      @click="navOpen=!navOpen">
      <span class="navicon__text" v-text="'NAVIGACIJA'" />
      <i class="navicon__icon" />
    </div>
  </div>
</template>

<script>
import debounce from 'debounce'
import anime from 'animejs'

import '@/assets/less/index.less'

import AppHeader from '@/partials/AppHeader'
import AppNav from '@/partials/AppNav'

var ua = window.navigator.userAgent
var OS = null

if (ua.indexOf('Windows NT 10.0') !== -1) OS = 'win-10'
if (ua.indexOf('Windows NT 6.2') !== -1) OS = 'win-8'
if (ua.indexOf('Windows NT 6.1') !== -1) OS = 'win-7'
if (ua.indexOf('Windows NT 5.1') !== -1) OS = 'win-xp'
if (ua.indexOf('Mac') !== -1) OS = 'mac-os'
if (ua.indexOf('Linux') !== -1) OS = 'linux'

export default {
  name: 'App',
  components: {
    AppHeader,
    AppNav
  },
  data() {
    return {
      headerH: null,
      navOpen: false,
      scrollPos: 0,
      scrollPosLast: 0,
      scrollSpeed: 0,
      scrollTimer: null,
      heroH: 0,
      scrollDown: true,
      overHero: false,
      device: {
        isPortrait: screen.width < screen.height,
        ratio: screen.width / screen.height,
        isTouch: typeof window.ontouchstart !== 'undefined',
        isMob: screen.width < 768,
        isTablet: screen.width < 1025 && screen.width > 767,
        isLaptop: screen.width > 1024,
        winW: window.innerWidth,
        winH: window.innerHeight,
        bodyW: document.body.clientWidth,
        bodyH: document.body.clientHeight,
        scrollbarW: window.innerWidth - document.body.clientWidth,
        hasScrollbar: document.body.clientWidth !== window.innerWidth,
        isIOS: ['iPad', 'iPhone', 'iPod'].indexOf(navigator.platform) >= 0,
        OS: OS,
        ua: ua
      }
    }
  },
  methods: {
    deviceCheck() {
      this.device['winW'] = window.innerWidth
      this.device['winH'] = window.innerHeigh
      this.device['bodyW'] = document.body.clientWidth
      this.device['bodyH'] = document.body.clientHeight
      this.device['scrollbarW'] = window.innerWidth - document.body.clientWidth
      this.device['hasScrollbar'] =
        document.body.clientWidth !== window.innerWidth
    },
    setheroH(h) {
      this.heroH = h
    },
    trackScroll(e) {
      this.scrollPos = e.target.scrollTop
      if (this.scrollPosLast !== null) {
        this.scrollSpeed = this.scrollPos - this.scrollPosLast
      }
      this.scrollPosLast = this.scrollPos
      this.scrollDown = this.scrollSpeed <= 0 || this.scrollPos === 0
      this.overHero = this.scrollPos >= this.heroH
      clearTimeout(this.scrollTimer)
      this.scrollTimer = setTimeout(() => {
        this.scrollPosLast = null
        this.scrollSpeed = 0
      }, 50)
    },
    mainRouterEnter(el, done) {
      var isHome = el.classList.contains('home')
      el.style.position = 'absolute'
      this.scrollPos = 0
      this.heroH = 0
      this.scrollDown = true
      this.overHero = !isHome
      anime({
        targets: el,
        origin: '50% 100%',
        duration: 900,
        opacity: [0, 1],
        scale: [1.2, 1],
        zIndex: 3,
        easing: 'easeOutQuad',
        complete: () => {
          el.removeAttribute('style')
          done()
        }
      })
    },
    mainRouterLeave(el, done) {
      el.style.height = 'auto'
      el.style.position = 'absolute'
      anime({
        targets: el,
        duration: 600,
        translateY: '-30vh',
        opacity: 0,
        easing: 'easeOutQuad',
        complete: () => {
          el.removeAttribute('style')
          done()
        }
      })
    }
  },
  beforeMount() {
    this.deviceCheck()
    window.onresize = debounce(() => {
      this.deviceCheck()
    }, 200)
  },
  mounted() {
    this.headerH = this.$refs['header'].$el.clientHeight
  }
}
</script>
