.app {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: relative;
  &__page {
    position: relative;
    z-index: 1;
    height: inherit;
    width: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    will-change: transform;
    z-index: 2;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform-origin: 50% 0%;
    top: 0;
    left: 0;
    right: 0;
  }
  &__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    text-align: center;
    transition: transform 350ms @easeOutQuad;
    transform: translate3d(0, -100%, 0);
    &.is-down {
      transform: none;
    }
    &.over-hero {
      background-color: rgba(250, 250, 250, 0.95);
      .socials {
        &__item {
          border-color: @sec;
          background-color: #fff; // background-color: #fff;
          .socials {
            &__svg {
              path {
                fill: @main;
              }
            }
          }
          .h &:hover {
            background-color: @main;
            border-color: @main;
            .socials {
              &__svg {
                path {
                  fill: #fff;
                }
              }
            }
          }
        }
      }
      .header {
        &__logo {
          color: @sec;
        }
      }
    }
  }
  &__nav {
    z-index: 3;
    transition: opacity 220ms @easeOutQuad;
    position: absolute;
    top: 0;
    left: 0;
    background-color: fade(@white, 90%);
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 10vh 0;
  }
  &__navicon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 2.8rem 7.4rem 2.8rem 2.8rem;
    cursor: pointer;
    transition: padding 220ms @easeOutQuad;
    &.is-open {
      .navicon {
        &__text {
          color: @sec;
        }
        &__icon {
          background-color: transparent;
          &:before {
            width: 2.4rem;
            background-color: @main;
            transform: rotate(135deg);
          }
          &:after {
            width: 2.4rem;
            background-color: @main;
            transform: rotate(45deg);
          }
        }
      }
      .h &:hover {
        .navicon {
          &__icon {
            transform: translate3d(0, 0, 0);
            &:before {
              transform: rotate(135deg);
            }
            &:after {
              transform: rotate(45deg);
            }
          }
        }
      }
    }
    &.over-hero {
      .navicon {
        &__icon {
          background-color: @main;
          &:before,
          &:after {
            background-color: @main;
          }
        }
        &__text {
          opacity: 0;
        }
      }
    }
  }
}