.footer {
	padding: 2.9rem 4rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	position: relative;
	text-transform: uppercase;
	&__created {
		position: absolute;
		top: 2.9rem;
		right: 4rem;
		a {
			text-decoration: none;
			color: inherit;
		}
	}
}