.header {
  &__logo {
    .font-sec;
    line-height: 1;
    font-weight: 900;
    font-size: 2.4rem;
    padding: 1.2rem;
    font-size: 2rem;
    padding: 1.6rem;
    color: @white;
    display: inline-block;
    text-decoration: none;
    transition: color 220ms @easeOutQuad, letter-spacing 220ms @easeOutQuad;
    @media @tablet {
    padding: 2.4rem;
      font-style: 3.2rem;
      
    }
    .h &:hover {
      letter-spacing: 0.01em;
      color: #fff; // color: @sec;
    }
  }
  &__socials {
    position: absolute;
    top: 0;
    left: 0.4rem;
    @media @tablet {
    left: 2rem;

    }
  }
}