.modal {
  &__dialog {
    color: @text;
    background-color: @white;
    max-width: 60rem;
    position: relative;
    height: 100vh;
    overflow: hidden;
    @media @tablet {
      overflow: visible;
      height: auto;
    }
  }
  &__content {
    position: relative;
    z-index: 1;
    padding: 7.8rem 2rem 2rem 2rem;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    &--zoomer {
      height: 100vh;
      padding: 7.8rem 0 0 0;
      overflow: hidden;
    }
    @media @tablet {
    }
  }
  &__top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    border-bottom: solid 1px @main;
    height: 4.8rem;
    @media @tablet {
      border-bottom: none;
    }
  }
  &__close {
    .x(4.8rem, 2.2rem, 0.2rem, @main);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    z-index: 2;
    width: 4.8rem;
    height: 4.8rem;
  }
}
