.navicon {
  &__text {
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.05em;
    color: @white;
    display: none;
    @media @tablet {
      display: block;
    }
  }
  &__icon {
    position: absolute;
    transition: padding 220ms @easeOutQuad;
    background-color: @white;
    height: 2px;
    width: 2.4rem;
    display: block;
    position: absolute;
    top: 2.4rem;
    right: 1.2rem;
    transform-origin: 50% 50%;
    transition: background-color 220ms @easeOutQuad, transform 220ms @easeOutQuad;
    @media @tablet {
      top: 3.8rem;
      right: 3.2rem;
    }
    &:before,
    &:after {
      background-color: @white;
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: 50% 50%;
      transition: transform 220ms @easeOutQuad, width 220ms @easeOutQuad, background-color 220ms @easeOutQuad;
    }
    &:before {
      width: 2.8rem;
      transform: translate3d(-0.4rem, -0.8rem, 0);
      @media @tablet {
      transform: translate3d(-0.4rem, -1rem, 0);

      }
    }
    &:after {
      width: 2rem;
      transform: translate3d(0.4rem, 0.8rem, 0);
      @media @tablet {
      transform: translate3d(0.4rem, 1rem, 0);

      }
    }
    &.nav-open {
      background-color: transparent;
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        width: 2rem;
        transform: rotate(-45deg);
      }
    }
  }
  .h &:hover {
    .navicon {
      &__icon {
        transform: translate3d(-0.4rem, 0, 0);
        &:before {
          transform: translate3d(0, -1rem, 0);
        }
        &:after {
          transform: translate3d(0, 1rem, 0);
        }
      }
    }
  }
}